#parent{


}

div:hover{
    transform:skewX(100deg);
}

div:hover{
    transform:rotateX(200deg);
}

div:hover{
    transform:scale()
}

div:hover{
    transform:translateX()
}
div:hover{
    transform:rotateY()
}