/* .divBox {
    width: 250px;
    height: 250px;
    background-color: green;

    position: relative;
    left: 100px;
    top: -100px;
}  */


/* .divBox2 {
    width: 250px;
    height: 250px;
    background-color: darkred;

    position: absolute;
    top: -270px;
    left: 200px;
} */


