/* 1) კომენტარების სახით თქვენი სიტყვებით ახსენით რა არის linear-gradient და რისთვის გამოვიყენებთ >3

ქმნის ლამაზ და კარგ ფერებს

2) შექმენით ვებ-საიტი ნებისმიერი თემატიკის შესახებ, გამოიყენეთ აქამდე მთლიანად განსაკლუთრებით კი დღევანდელ გაკვეთილზე ახსნილი მასალა. */

/* .divBox1 {
    width: 250px;
    height: 250px;
    background-color: darkred;

    position: absolute;
    top: -270px;
    left: 200px;
} 


.divBox2 {
    width: 250px;
    height: 250px;
    background-color: black;

    position: fixed;
    top: 50px;
    left: 50px
} */


/* 3) წაიკითეთ დამატებითი ინფორმაცია:
-- https://www.w3schools.com/css/css3_gradients.asp --

4) გაეცანით შემდეგ ვებ-საიტს:
-- https://cssgradient.io/ -- 

5) განაგრძეთ ჯგუფურ პროექტზე მუშაობა და ბოლომდე დახვეწეთ იგი, წარმატებები ദ്ദി ˉ͈̀꒳ˉ͈́ )✧   */