/* 1) კომენტარების სახით ახსენით რა არის box-sizing, რა განსხვავებაა border-box-სა და contain-box-ს შორის.
box-sizing საზღვრავს როგორ უნდა დაითვალოს ელემენტის ზომა


2) კომენტარების სახით ახსენით რა არის position: relative და გააკეთეთ მაგალითი.
relative ელემენტი რჩება თავის ადგილზე მაგრამ top left-ით შეგიძლია გადაწიო


3) ებ-საიტზე შემოიტანეთ 1 ცალი div ელემენტი, მიანიჭეთ მას ზომები და უკანა ფონის ფერი. თქვენი დავალებაა მიანიჭოთ body-ს height 100vh-ი, გამოიყენოთ css reset-ის მეთოდი და გადაადგილეთ შექმნილი div-ი position: relative-ს დახმარებით.
 -- */
.divBox {
    width: 300px;
    height: 300px;
    height: 100vh;
    background-color: darkred;
    position: relative;
    left: 100px;
}



/* 4) შექმენით საიტი თქloვენთვის სასურველ თემატიკაზე, გამოიყენეთ ყველაფერი რაც css-ში ისწავლეთ, განსაკუთრებით დღევანდელ გაკვეთილზე ახნსნილი მასალა. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 120px;
    background-color: darkgrey;
}

ol {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    color: red;
}

li:hover {
    color: darkred;
    transition: 2s;
    cursor: pointer;
    font-size: 25px;
}

.prof {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 540px;
    box-shadow: -0px -0px 1px 1px gray;
    margin-top: 100px;

    text-align: center;
    padding-top: 100px;
}

.leangues {
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
}

body {
    background-color: blanchedalmond;
}



/* 5) წაიკითხეთ შესაბამისი ინფორმაცია მხოლოდ position: relative-ს შესახებ:
-- https://www.w3schools.com/css/css_positioning.asp  */