/* 
body{
    background-image: url(image.png);
    background-size: cover;
}

main{
    backdrop-filter: blur(25px);
    border: 2px solid white;
    width: 400px;
    height: 500px;
    margin-left: 600px;
    border-radius: 40px;

}

input{
    margin-left:100px;
    margin-top: 50px;
    border-radius: 20px;
}
.text{
    margin-left: 160px;
    margin-top: -130px;
    font-size: 30px;
}

button{
    margin-left: 40px;
    margin-top: 200px;
    height: 40px;
    text-align: center;
}

.text2{
    margin-left: 80px;
    margin-top: -16px;
}

button{
    margin-top: 100px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
} */