/* #parent{
    background-color:black;
    width: 400px;
    height: 300px;
    

}
.image1{
    width: 700px;
    height: 650px;
    background-size: cover;
    background-image: url(image.png);
}
body{
    background-color: rgb(1, 3, 18);
}

.text1{
    margin-left: 1000px;
    margin-top: -500px;
    font-size: 50px;
    color: bisque;
}

.text2{
    margin-left: 800px;
    color: bisque;
}

.text3{
    margin-left: 900px;
    margin-top: -280px;
    font-size: 20px;
    color: bisque;
}

.text4{
    margin-left: 1050px ;
    margin-top: -20px ;
    font-size:20px ;
    color: bisque;
} */