/* 1) კომენტარების სახით ახსენით რა არის box-sizing და დაწერეთ მისი დანიშნულება. */

/* box-sizing ნიშნავს როგორ ითვლის ელემენტი ზომას */

/* 2) კომენტარების სახით ახსენით რა განსხვავებაა border-box-სა და content-box-ს შორის. */

/* border-box width ითვლის ყველაფერს  და box-sizing ნიშნავს როგორ ითვლის ელემენტი ზომას  */

/* 


3) დაწერეთ ზოგადი კოდი თუ როგორ ხდება css-ის reset-ი და რატომ ვწერთ მას საერთოდ. */

/* აშორებს ყველა ელემენტს default margin-ს
   აშორებს default padding - ს*
/

/* 4) ვებ-საიტზე შემოიტანეთ 1 ცალი div ელემენტი, მიანიჭეთ მას ზომები და უკანა ფონის ფერი. თქვენი დავალებაა მიანიჭოთ body-ს height 100vh-ი, გამოიყენოთ css reset-ის მეთოდი და გადაადგილეთ შექმნილი div-ი ვებ-საიტის შუაში. */

.divBox {
    width: 300px;
    height: 300px;
    height: 100vh;
    background-color: darkred;
    position: relative;
    left: 100px;
}
