.container {
    display: -webkit-flex; 
    display: -moz-flex;    
    display: flex;        
  }

  element {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;    
    border-radius: 10px;         
  } 

  .element {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);         
  }

  .element {
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);    
    transform: rotate(45deg);         
  }
  