/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 10px; 
    height: 100vh;
}
.header {
    grid-column: span 4;
    background-color: green;
}
.sidebar {
    grid-row: span 3;
    background-color:gold;
   

}
.sect1 {
    background-color:thistle;
}
.sect2 {
    background-color: lightblue;
}
.sect3 {
    background-color: red;
}
.sect4 {
    background-color: navajowhite;
}
.sect5 {
    background-color: orange;
}
.nav {
    grid-column: span 3;
    background-color: green;
}
.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: white;
} */