/* 2) კომენტარების სახით ჩამოწერეთ ყველა ნასწავლი პოზიციონირების მნიშვნელობა და თითოეულის განმარტება. */

/*static - ჩვეულებრივად რჩება ელემენტი, პოზიცია არ იცვლება უბრალოდ
relative -  თავის ადგილზეა უბრალოდ ოდნავ მოძრაობს, top, left, rigth, bottom
absolute - რო გამოვიყენებთ ის ჩათვლის რო სხვა ელემენტები არ არის და სადაც გვინდა ისე გადავიტანთ ელემენტს ისე რო სხვა არ გამოძრავდეს
fixed - ყინავს
sticky - სანამ თავის ადგილამდე მიდის ჩვეულებრივია მერე სქროლის დროს ეწებება */

/* 
3) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: relative და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 100px-ით და მარცხნიდან 100px-ით */
/* 
.divBox {
    width: 250px;
    height: 250px;
    background-color: green;

    position: relative;
    left: 100px;
    top: -100px;
} */

/* 4) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: absolute და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 230px-ით და მარჯვნიდან 140px-ით  */

/* .divBox2 {
    width: 250px;
    height: 250px;
    background-color: darkred;

    position: absolute;
    top: -270px;
    left: 200px;
} */


/* 5) შექმენით div, რომელსაც მიანიჭებთ ზომებს და გასტილავთ თქვენს გემოზე. თქვენი დავალებაა გაუწეროთ მას position: fixed და გამოიყენოთ შესაბამისი თვისებები მისი პოზიციონირებისთვის. გადაადგილეთ div მაღლიდან 50px-ით და მარცხნიდან 50px-ით. */


/* .divBox3 {
    width: 250px;
    height: 250px;
    background-color: black;

    position: fixed;
    top: 50px;
    left: 50px
}
 */
